.btn-buy{
    border: none;
}
.btn-buy-now{
    margin-left: 170px;
}
.price-h2{
    font-weight: 700;
    color: #FABE4C;
}
.women-jacket-1 img{
    height: 298px;
    width: 298px;
} 
.women-jacket-2 img{
    height: 265px;
    width: 250px;
}
.women-jacket-3 img{
    height: 257px;
    width: 250px;
}
.shopping img{
    margin-top: 150px;
}

